.priority-container {
  z-index: 2;
  position: absolute;
  right: 5%;
  bottom: -300%;
  display: none;
  height: 13rem;
  width: 14rem;
  background: white;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
  color: $gray-text;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0.6rem;
}

.show-priority-form {
  right: -20%;
  top: -180%;
  display: flex;
}

#close-btn {
  top: -14%;
  right: -10%;
}

p {
  width: 100%;
  padding: 0.5rem;
  @include flex(space-between, center, row);
  text-align: start;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.icon {
  font-weight: bold;
  /*padding: 0.4rem;*/
  font-size: 1.5rem;
}

.priority {
  text-align: center;
}

#high {
  .icon {
    color: $high;
    grid-column: 1/2;
  }
}

#medium {
  .icon {
    color: $medium;
  }
}

#low {
  .icon {
    color: $low;
  }
}

#high:hover,
#medium:hover,
#low:hover,
#neutral:hover {
  background: rgb(243, 243, 243);
  font-weight: bold;
}

#medium {
  .icon {
    color: $medium;
  }
}

#low {
  .icon {
    color: $low;
  }
}

.high-p {
  background: $high-background;
  color: $high;
}

.medium-p {
  background: $medium-background;
  color: $medium;
}

.low-p {
  background: $low-background;
  color: $low;
}

@media screen and (max-width: 320px) {
  .priority-container {
    bottom: -400%;
  }
}
