.icons-form-container {
  position: absolute;
  top: -45%;
  right: -40%;
  display: none;
  width: 19.7rem;
  height: 13.2rem;
  border-radius: 0.3rem;
  background: white;
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.2);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

  #icon-btn-close {
    top: -15%;
    right: -8%;
    position: absolute;
    border: none;
    background: none;
  }
  .close-btn-icons {
    background: none;
    color: #808283;
    width: 1.8rem;
    height: 1.8rem;
  }

  .close-btn-icons:hover {
    color: rgb(241, 181, 181);
  }
}

.icon-item {
  height: 3.3rem;
  width: 3.3rem;

  // border: 1px solid white;
  @include flex(center, center, row);
  cursor: pointer;
  .icon {
    height: 1.8rem;
    width: 1.8em;
    color: #808283;
  }
}
.icon-item:hover {
  background: $priority-btn-color;
  .icon {
    color: white;
  }
}
