.item-container {
  background: white;
  position: relative;
  width: 100%;
  height: 3rem;
  color: $gray-text;
  margin: 0.2rem 0.6rem;
  @include flex(flex-start, center, row);
}

.checkbox {
  min-width: 3rem;
  height: 100%;
  position: relative;

  .box,
  .check {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
  .check {
    display: none;
    color: $check-green;
  }
  .checked {
    z-index: 2;
    display: flex;
  }
}

.checked-text {
  //opacity: 0.8;
  // text-decoration: line-through;

  .item-box {
    opacity: 0.2;
  }
}

.item-box {
  white-space: nowrap;
  color: $gray-text;
  background: none;
  padding: 0rem 1rem;
  max-width: 20rem;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $text;
}

.item-box:hover {
  opacity: 1;
  overflow: visible;
  padding: 0.5rem;
  background: inherit;
  float: left;
  max-width: 200rem;
  height: 100%;
  box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: 0.2);
}

.buttons {
  position: absolute;
  width: 9.1rem;
  height: 100%;
  display: flex;
  right: -27%;
  //transform: translateX(77%);

  button {
    height: 100%;
    color: $gray-text;
    padding: 0.5rem;
    background: white;
  }

  button:hover {
    color: white;
  }
  #li-priority-btn:hover {
    background: $priority-btn-color;
  }
  #li-schedule-btn:hover {
    background: $schedule-btn-color;
  }
  #li-delete-btn:hover {
    background: $trash-btn-color;
  }

  #slide-left-btn {
    background: white;
    border: none;
    opacity: 0.2;
  }

  #slide-left-btn:hover {
    opacity: 1;
    color: $gray-text;
  }

  #li-priority-btn,
  #li-schedule-btn,
  #li-delete-btn {
    display: none;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    right: -32%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}

.slide {
  display: flex !important;
  right: 0% !important;
  animation: slide-in 0.2s ease-in;
}

.rotate {
  transform: rotateY(180deg);
}

@media screen and (max-width: 414px) {
  .item-container {
    min-width: 100%;
    height: 3.5rem;
    margin: 0.2rem 0rem;
  }

  .buttons {
    right: 5%;
  }

  .slides {
    right: -17%;
    display: flex;
  }

  .header-list #delete-btn-list .delete-list-icon {
    height: 2rem;
    width: 2rem;
  }

  .header-list #delete-btn-list .delete-list-icon:hover {
    height: 2.5rem;
    width: 2.5rem;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      right: -20% !important;
    }
    to {
      opacity: 1;
      right: 2%;
    }
  }
}

@media screen and (max-width: 375px) {
  .slides {
    right: -18.5%;
  }
}

@media screen and (max-width: 360px) {
  .slides {
    right: -19.3%;
  }
}

@media screen and (max-width: 320px) {
  .slides {
    right: -21.9%;
  }
}
