.list-container {
  .item-container,
  .header-list {
    position: relative;
    width: 25rem;
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.1);
    border-radius: 0.2rem;
  }

  button {
    border: none;
  }
}

.list-container {
  //height: 98%;
  margin: 0rem 1rem;
}

.listitems-ul {
  height: 100%;
}

.ul-listitems {
  height: 83%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-list {
  margin: 0.2rem 0rem;
  position: relative;
  background: $list-header;
  height: 8.6rem;
  font-size: $header3;
  color: rgba($color: $gray-text, $alpha: 0.8);
  @include flex(space-around, center, column);

  p {
    position: absolute;
    top: 15%;
    @include flex(center, center, row);
    width: 100%;
  }

  .list-icon {
    @include flex(center, center, row);
    //display: block;
    font-size: 2rem;
    padding-right: 2rem;
    //height: 4rem;
    // width: 4rem;
  }

  #delete-btn-list {
    position: absolute;
    right: 0%;
    top: 0%;
    background: none;
    border: none;
    .delete-list-icon {
      height: 1.6rem;
      width: 1.6rem;
      object-fit: cover;
      color: rgba($color: $gray-text, $alpha: 0.8);
    }
  }
  #delete-btn-list:hover {
    .delete-list-icon:hover {
      height: 2rem;
      width: 2rem;
    }
  }
}

.new-item {
  border: none;
  padding: 1rem;
}

.add-item-form {
  //border: 1px solid black;
  @include flex(center, center, row);
  position: absolute;
  top: 45%;
  background: none;
  height: 5rem;
  margin: 0rem 0.6rem;
  //box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
  width: 25rem;
  input {
    padding: 0rem 2rem 0rem 1rem;
    height: 3rem;
    width: 96%;
    border-radius: 0.2rem;
  }
  #add-item-btn {
    position: absolute;
    right: 3%;
    background: none;
    .add-item-icon {
      color: $check-green;
      @include flex(center, flex-end, row);
      width: 2.3rem;
      height: 2.3rem;
      transition: all 0.5s ease-in-out;
    }
    .add-item-icon:hover {
      color: rgb(233, 135, 135);
    }
  }
}

@media screen and (max-width: 414px) {
  .list-container {
    min-width: 100vw;
    //height: 92vh;
    margin: 0rem;
  }

  .list-container ul {
    height: 44.5rem;
  }

  .list-container .header-list {
    min-width: 100%;
    height: 12rem;
  }

  .header-list .list-name .list-icon {
    font-size: 2.5rem;
  }
  .header-list span {
    font-size: 2.5rem;
  }

  .header-list {
    background: none;
    height: 8rem;
    left: 0%;
    margin: 0;

    h3 {
      top: 10%;
    }
  }

  .add-item-form {
    min-width: 92%;

    top: 45%;
    input {
      width: 100%;
      height: 3.5rem;
    }
  }

  .add-item-form #add-item-btn .add-item-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}
