@import "../../../scss/variables.scss";
@import "searchbar";
@import "listitem";
@import "addnewlist";
@import "icons";
@import "list";
@import "addpriority";

.lists-section {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(space-between, center, row);
  flex-wrap: wrap;
}

.lists-container,
.piechart-box {
  border-radius: 0.5rem;
}

.lists-container {
  position: relative;
  flex: 5 1 20rem;
  height: 80vh;
  min-width: 70%;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.2);
  @include flex(space-between, center, column);
  overflow: hidden;
  background: $background-color;

  .lists-box {
    //border: 1px solid black;
    overflow: hidden;
    margin: 3rem;
    width: 90%;
    height: 75.5%;
    display: flex;
    position: absolute;
    top: 8rem;
  }
}

.arrow-btn {
  color: white;
  background-color: rgba($color: #d6bebe, $alpha: 0.5);
  height: 7rem;
  width: 4rem;
  text-align: center;
  display: none;
  position: relative;
  top: -5%;
  cursor: pointer;
}

#right-btn,
#left-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  height: inherit;
  width: 4rem;
  border: none;
  background: none;
  cursor: context-menu;
}

#right-btn {
  right: 0%;
}

#right-btn:hover {
  .arrow-btn {
    display: inline;
  }
}

#left-btn {
  left: 0%;
  .arrow-btn {
    transform: rotateZ(180deg);
  }
}

#left-btn:hover {
  .arrow-btn {
    display: inline;
  }
}

/* PIECHART */
.piechart-container {
  flex: 1 2 10rem;
  margin: 0rem 0rem 0rem 5rem;
  height: 90vh;
  width: 20rem;
  position: relative;
}

.piechart-box {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 30rem;
  height: 30rem;
  background-color: $background-color;
  box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.1);
  @include flex(center, center, column);
}

/* RESPONSIVE DESIGN*/
@media screen and (max-width: 1394px) {
  .piechart-box {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1195px) {
  .piechart-box {
    width: 20rem;
    height: 20rem;
    svg {
      width: 18rem;
      height: 18rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .piechart-box {
    width: 18rem;
    height: 18rem;
    left: -5%;
    svg {
      width: 16rem;
      height: 16rem;
    }
  }
}

@media screen and (max-width: 818px) {
  .lists-section {
    width: 100vw;
    min-height: 90vh;
    margin: 0;
  }
  .lists-container {
    min-height: 90vh;
    width: 100%;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }

  .add-list-btn {
    border-radius: 0;
  }
  .piechart-container {
    display: none;
  }
}
@media screen and (max-width: 538px) {
  .search-form {
    width: 84%;
    right: 0%;
  }
}

@media screen and (max-width: 414px) {
  .lists-section {
    min-height: 92vh;
  }
  .lists-container,
  .lists-box {
    margin: 0%;
    min-width: 100%;
  }

  .lists-container .lists-box {
    top: 0%;
    min-height: 100vh;
    margin: 0rem;
  }

  #right-btn,
  #left-btn {
    display: none;
  }

  .search-form {
    // border: 1px solid black;
    z-index: 2;
    //position: absolute;
    position: relative;
    top: 93%;
    left: 13%;
    margin: 0rem;
    width: 70%;
  }

  .searchbar {
    padding: 0.8rem 2rem;
  }

  .search-btn {
    position: absolute;
    right: 0.75%;
  }

  .add-list-btn {
    bottom: 8%;
    left: 65%;
    padding: 0.8rem 2rem 0.8rem 0rem;
    font-size: 1.2rem;
    width: 12rem;
    border-radius: 2rem;

    .plus-icon {
      width: 1.8rem;
      height: 1.8rem;
      bottom: 22%;
      right: 4%;
    }
  }
}

@media screen and (max-width: 320px) {
  .add-list-btn {
    left: 58%;
  }

  .search-form {
    left: 10%;
  }
}

@media screen and (max-width: 280px) {
  .add-list-btn {
    left: 52%;
  }

  .search-form {
    left: 10%;
  }
}
