h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.search-form {
  position: relative;
  width: 44%;
  margin: 4rem 0rem;
  right: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.searchbar {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #616161;
  border: none;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-btn {
  position: absolute;
  right: 1%;
  -webkit-transform: translateY(4.5%);
          transform: translateY(4.5%);
  background: none;
  border: none;
}

.search-btn .btn {
  width: 5rem;
  height: 1rem;
}

.search-btn-svg {
  width: 3.2rem;
  height: 3.2rem;
}

#search-btn-circle {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#search-btn-circle:hover {
  fill: #5964fd;
}

.item-container {
  background: white;
  position: relative;
  width: 100%;
  height: 3rem;
  color: #616161;
  margin: 0.2rem 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.checkbox {
  min-width: 3rem;
  height: 100%;
  position: relative;
}

.checkbox .box,
.checkbox .check {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.checkbox .check {
  display: none;
  color: #0ead69;
}

.checkbox .checked {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox .checked-text {
  opacity: 0.1 !important;
}

.checkbox .checked-text .item-box {
  opacity: 0.2 !important;
}

.item-box {
  white-space: nowrap;
  color: #616161;
  background: none;
  padding: 0rem 1rem;
  max-width: 20rem;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.item-box:hover {
  opacity: 1;
  overflow: visible;
  padding: 0.5rem;
  background: inherit;
  float: left;
  max-width: 200rem;
  height: 100%;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.buttons {
  position: absolute;
  width: 9.1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -27%;
}

.buttons button {
  height: 100%;
  color: #616161;
  padding: 0.5rem;
  background: white;
}

.buttons button:hover {
  color: white;
}

.buttons #li-priority-btn:hover {
  background: #a5dbc1;
}

.buttons #li-schedule-btn:hover {
  background: #69aeff;
}

.buttons #li-delete-btn:hover {
  background: #f25f5c;
}

.buttons #slide-left-btn {
  background: white;
  border: none;
  opacity: 0.2;
}

.buttons #slide-left-btn:hover {
  opacity: 1;
  color: #616161;
}

.buttons #li-priority-btn,
.buttons #li-schedule-btn,
.buttons #li-delete-btn {
  display: none;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    right: -32%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    right: -32%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}

.slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  right: 0% !important;
  -webkit-transform: slideIn 0.2s ease;
          transform: slideIn 0.2s ease;
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 414px) {
  .item-container {
    min-width: 100%;
    height: 3.5rem;
    margin: 0.2rem 0rem;
  }
  .buttons {
    right: -19%;
  }
  .slide {
    right: -17%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-list #delete-btn-list .delete-list-icon {
    height: 2rem;
    width: 2rem;
  }
  .header-list #delete-btn-list .delete-list-icon:hover {
    height: 2.5rem;
    width: 2.5rem;
  }
  @-webkit-keyframes slideIn {
    from {
      opacity: 0;
      right: -20% !important;
    }
    to {
      opacity: 1;
      right: 2%;
    }
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      right: -20% !important;
    }
    to {
      opacity: 1;
      right: 2%;
    }
  }
}

@media screen and (max-width: 375px) {
  .slide {
    right: -18.5%;
  }
}

@media screen and (max-width: 360px) {
  .slide {
    right: -19.3%;
  }
}

@media screen and (max-width: 320px) {
  .slide {
    right: -21.9%;
  }
}

.close-btn-icon {
  color: #888686;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  background: none;
}

.close-btn-icon:hover {
  color: #616161;
}

#close-btn {
  position: absolute;
  border: none;
  background: #fdf6f4;
  border-radius: 5rem;
}

.add-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: #aaaaaa;
  border: none;
  padding: 1.2rem;
  color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.add-list-btn .plus-icon {
  position: absolute;
  right: 2%;
  bottom: 25%;
  width: 2.5rem;
  height: 2.5rem;
}

.add-list-btn:hover {
  background-color: #3f3f3f;
}

.add-list-container {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 1rem;
  background: #f5e3e2;
  width: 25rem;
  height: 18rem;
  border-radius: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.add-list-container input,
.add-list-container .add-btn {
  width: 80%;
  margin: 0.5rem 0rem;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

.add-list-container input {
  color: #616161;
}

.add-list-container .add-btn {
  position: relative;
  background: #aaaaaa;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.add-list-container .add-btn .popup-plus-icon {
  position: absolute;
  right: 3%;
  bottom: 20%;
  color: #616161;
  width: 1.7rem;
  height: 1.7rem;
}

.add-list-container #close-btn {
  top: -11%;
  right: -8%;
}

.add-list-container .add-btn:hover {
  background: #616161;
}

.add-list-container .add-btn:hover .popup-plus-icon {
  color: white;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.icons-form-container {
  position: absolute;
  top: -45%;
  right: -40%;
  display: none;
  width: 19.7rem;
  height: 13.2rem;
  border-radius: 0.3rem;
  background: white;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons-form-container #icon-btn-close {
  top: -15%;
  right: -8%;
  position: absolute;
  border: none;
  background: none;
}

.icons-form-container .close-btn-icons {
  background: none;
  color: #808283;
  width: 1.8rem;
  height: 1.8rem;
}

.icons-form-container .close-btn-icons:hover {
  color: #f1b5b5;
}

.icon-item {
  height: 3.3rem;
  width: 3.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.icon-item .icon {
  height: 1.8rem;
  width: 1.8em;
  color: #808283;
}

.icon-item:hover {
  background: #a5dbc1;
}

.icon-item:hover .icon {
  color: white;
}

@media screen and (max-width: 414px) {
  .icons-form-container {
    right: -10%;
  }
}

@media screen and (max-width: 320px) {
  .icons-form-container {
    top: -30%;
    right: -0%;
  }
}

.list-container .item-container,
.list-container .header-list {
  width: 25rem;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.list-container button {
  border: none;
}

.list-container {
  height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-list {
  margin: 0rem 0.6rem;
  position: relative;
  background: #f6e8e7;
  height: 8.6rem;
  font-size: 1.8rem;
  color: rgba(97, 97, 97, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-list p {
  position: absolute;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header-list .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  padding-right: 2rem;
}

.header-list #delete-btn-list {
  position: absolute;
  right: 0%;
  top: 0%;
  background: none;
  border: none;
}

.header-list #delete-btn-list .delete-list-icon {
  height: 1.6rem;
  width: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  color: rgba(97, 97, 97, 0.8);
}

.header-list #delete-btn-list:hover .delete-list-icon:hover {
  height: 2rem;
  width: 2rem;
}

.new-item {
  border: none;
  padding: 1rem;
}

.add-item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 45%;
  background: none;
  height: 5rem;
  margin: 0rem 0.6rem;
  width: 25rem;
}

.add-item-form input {
  padding: 0rem 2rem 0rem 1rem;
  height: 3rem;
  width: 96%;
  border-radius: 0.2rem;
}

.add-item-form #add-item-btn {
  position: absolute;
  right: 3%;
  background: none;
}

.add-item-form #add-item-btn .add-item-icon {
  color: #0ead69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 2.3rem;
  height: 2.3rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.add-item-form #add-item-btn .add-item-icon:hover {
  color: #e98787;
}

@media screen and (max-width: 414px) {
  .list-container {
    min-width: 100vw;
  }
  .list-container ul {
    height: 44.5rem;
  }
  .list-container .header-list {
    min-width: 100%;
    height: 12rem;
  }
  .header-list .list-name .list-icon {
    font-size: 2.5rem;
  }
  .header-list span {
    font-size: 2.5rem;
  }
  .header-list {
    background: none;
    height: 8rem;
    left: 0%;
    margin: 0;
  }
  .header-list h3 {
    top: 10%;
  }
  .add-item-form {
    min-width: 92%;
    top: 45%;
  }
  .add-item-form input {
    width: 100%;
    height: 3.5rem;
  }
  .add-item-form #add-item-btn .add-item-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.priority-container {
  z-index: 200;
  position: absolute;
  right: 5%;
  bottom: -290%;
  display: none;
  height: 13rem;
  width: 14rem;
  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #616161;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.6rem;
}

.priority-container p {
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: start;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.show-priority-form {
  right: -20%;
  top: -180%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#close-btn {
  top: -14%;
  right: -10%;
}

.icon {
  font-weight: bold;
  /*padding: 0.4rem;*/
  font-size: 1.5rem;
}

.priority {
  text-align: center;
}

#high .icon {
  color: #b60000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#medium .icon {
  color: #ff9900;
}

#low .icon {
  color: #2e3cb7;
}

#high:hover,
#medium:hover,
#low:hover,
#neutral:hover {
  background: #f3f3f3;
  font-weight: bold;
}

#medium .icon {
  color: #ff9900;
}

#low .icon {
  color: #2e3cb7;
}

.high-p {
  background: #f5c3c3;
  color: #b60000;
}

.medium-p {
  background: #ffe0b2;
  color: #ff9900;
}

.low-p {
  background: #bfc2de;
  color: #2e3cb7;
}

@media screen and (max-width: 320px) {
  .priority-container {
    bottom: -400%;
  }
}

.lists-section {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lists-container,
.piechart-box {
  border-radius: 0.5rem;
}

.lists-container {
  position: relative;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 20rem;
          flex: 5 1 20rem;
  height: 80vh;
  min-width: 70%;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: #fdf6f4;
}

.lists-container .lists-box {
  overflow: hidden;
  margin: 3rem;
  width: 90%;
  height: 75.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8rem;
}

.arrow-btn {
  color: white;
  background-color: rgba(214, 190, 190, 0.5);
  height: 7rem;
  width: 4rem;
  text-align: center;
  display: none;
  position: relative;
  cursor: pointer;
}

.lists-container #right-btn,
.lists-container #left-btn {
  position: absolute;
  top: -5%;
  height: inherit;
  width: 4rem;
  border: none;
  background: none;
  cursor: context-menu;
}

.lists-container #right-btn {
  right: 0%;
}

.lists-container #right-btn:hover .arrow-btn,
.lists-container #left-btn:hover .arrow-btn {
  display: inline;
}

.lists-container #left-btn {
  left: 0%;
}

/* PIECHART */
.piechart-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 10rem;
          flex: 1 2 10rem;
  margin: 0rem 0rem 0rem 5rem;
  height: 90vh;
  width: 20rem;
  position: relative;
}

.piechart-box {
  position: absolute;
  top: 15%;
  left: 0%;
  width: 30rem;
  height: 30rem;
  background-color: #fdf6f4;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* RESPONSIVE DESIGN*/
@media screen and (max-width: 1394px) {
  .piechart-box {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1195px) {
  .piechart-box {
    width: 20rem;
    height: 20rem;
  }
  .piechart-box svg {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 900px) {
  .piechart-box {
    width: 18rem;
    height: 18rem;
    left: -5%;
  }
  .piechart-box svg {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (max-width: 818px) {
  .lists-section {
    width: 100vw;
    min-height: 90vh;
    margin: 0;
  }
  .lists-container {
    min-height: 90vh;
    width: 100%;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .add-list-btn {
    border-radius: 0;
  }
  .piechart-container {
    display: none;
  }
}

@media screen and (max-width: 538px) {
  .search-form {
    width: 84%;
    right: 0%;
  }
}

@media screen and (max-width: 414px) {
  .lists-section {
    min-height: 92vh;
  }
  .lists-container,
  .lists-box {
    margin: 0%;
    min-width: 100%;
  }
  .lists-container .lists-box {
    top: 0%;
    min-height: 100vh;
    margin: 0rem;
  }
  #right-btn,
  #left-btn {
    display: none;
  }
  .search-form {
    z-index: 2;
    position: relative;
    top: 93%;
    left: 13%;
    margin: 0rem;
    width: 70%;
  }
  .searchbar {
    padding: 0.8rem 2rem;
  }
  .search-btn {
    position: absolute;
    right: 0.75%;
  }
  .add-list-btn {
    bottom: 8%;
    left: 65%;
    padding: 0.8rem 2rem 0.8rem 0rem;
    font-size: 1.2rem;
    width: 12rem;
    border-radius: 2rem;
  }
  .add-list-btn .plus-icon {
    width: 1.8rem;
    height: 1.8rem;
    bottom: 22%;
    right: 4%;
  }
}

@media screen and (max-width: 320px) {
  .add-list-btn {
    left: 58%;
  }
  .search-form {
    left: 10%;
  }
}

@media screen and (max-width: 280px) {
  .add-list-btn {
    left: 52%;
  }
  .search-form {
    left: 10%;
  }
}
/*# sourceMappingURL=Lists.css.map */