@import "../../../scss/variables.scss";
@import "searchbar";
@import "listitem";
@import "addnewlist";
@import "icons";
@import "list";
@import "addpriority";

.lists-section {
  position: relative;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(space-between, center, row);
  flex-wrap: wrap;
}

.lists-container {
  position: relative;
  flex: 3 0 20rem;
  height: 80vh;
  min-width: 65%;
  margin: 5rem 0rem;
  background: $background-color;
  border-radius: 1.5rem;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.2);
  @include flex(space-between, center, column);

  .lists-box {
    overflow: auto;
    border: 1px solid black;
    width: 90%;
    height: 84.5%;
    display: flex;
    position: absolute;
    top: 6rem;
  }
}

.piechart-container {
  flex: 1 2 20rem;
  min-height: 40vh;
  margin: 0rem 0rem 0rem 5rem;
  background: $background-color;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.1);
}
