$header1: 3.9rem;
$header2: 2.3rem;
$header3: 1.8rem;
$header4: 2rem;
$text: 1.5rem;

$gradient: linear-gradient(left, #f4e4e3, white, #f6dacf);
$background-color: #fdf6f4;
$gray-text: #616161;

$high: #b60000;
$medium: #ff9900;
$low: #2e3cb7;
$neutral: #8b8b8b;

$high-background: #f5c3c3;
$medium-background: #ffe0b2;
$low-background: #bfc2de;

$list-header: #f6e8e7;
$check-green: #0ead69;
$trash-btn-color: #f25f5c;
$schedule-btn-color: #69aeff;
$priority-btn-color: #a5dbc1;

$mon: #f8e0d8;
$tue: #fae8e2;
$wed: #fff6f4;
$thu: #fbf5f5;
$fri: #f9f0f0;
$sat: #f6e8e7;
$sun: #f1d9d1;

h3 {
  font-size: $header3;
  font-weight: 400;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
